@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible;
        margin: auto !important;
        gap: 1rem !important;
    }
}

.navLinksStyle:hover{
border-bottom: 1px solid rgb(13 110 253);
}