.divTitleExperience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.h11divTitleExperience {
  font-size: 10px;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: Quicksand, Arial, sans-serif;
}

.h12divTitleExperience {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
  color: #000;
  font-family: Playfair Display, Georgia, serif;
}

.divDescriptionTitleCompany {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.h1divDescriptionCompany {
  font-size: 20px;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.h2divDescriptionCompany {
  opacity: 0.4;
  font-size: 16px;
}

.pdivDescriptionCompany {
  opacity: 0.7;
  font-weight: 400;
}

.divAllDescriptionCompany::after {
  content: " ";
  border-bottom: 36rem solid #eee;
  position: absolute;
  top: -29px;
  left: -47px;
  width: 0.5%;
  padding: 1.3rem 0rem;
}

.divAllDescriptionCompany {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  gap: 1.5rem;
  position: relative;
  padding: 2rem 0rem;
}

.bigDivDescriptionCompany1 {
  border-radius: 2px;
  padding: 1.3rem;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.bigDivDescriptionCompany2 {
  border-radius: 2px;
  padding: 1.3rem;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.bigDivDescriptionCompany3 {
  border-radius: 2px;
  padding: 1.3rem;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.iconJobsDescription1 {
  position: absolute;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: #2c98f0;
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 18px;
  left: -70px;
}

.iconJobsDescription2 {
  position: absolute;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: #d9534f;
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 18px;
  left: -70px;
}

.iconJobsDescription3 {
  position: absolute;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: #f0ad4e;
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 18px;
  left: -70px;
}

.iconJobsDescription4 {
  position: absolute;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: white;
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 182px;
  left: -70px;
}

@media screen and (max-width: 460.5px) {
  .divAllDescriptionCompany::after {
    border-bottom: 69rem solid #eee;
  }
  .iconJobsDescription4 {
    top: 375px;
  }
  .divAllDescriptionCompany::after {
    left: -28px;
  }
  .iconJobsDescription1 {
    left: -52px;
  }
  .iconJobsDescription2 {
    left: -52px;
  }
  .iconJobsDescription3 {
    left: -52px;
  }
  .iconJobsDescription4 {
    left: -51px;
  }
}

@media screen and (max-width: 374.5px) {
  .divAllDescriptionCompany::after {
    border-bottom: 84rem solid #eee;
  }
  .iconJobsDescription4 {
    top: 450px;
  }
  .divAllDescriptionCompany::after {
    left: -28px;
  }
  .iconJobsDescription1 {
    left: -52px;
  }
  .iconJobsDescription2 {
    left: -52px;
  }
  .iconJobsDescription3 {
    left: -52px;
  }
  .iconJobsDescription4 {
    left: -51px;
  }
}

@media screen and (min-width: 580.5px) and (max-width: 1470.5px) {
  .divAllDescriptionCompany::after {
    border-bottom: 41.7rem solid #eee;
  }
}
