.bigestDivSkills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.divDescriptionSkills {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 1.1rem;
}

.h11divDescriptionSkills {
  font-size: 10px;
  color: #999;
  font-weight: 500;
  font-family: Quicksand, Arial, sans-serif;
  letter-spacing: 5px;
}

.h12divDescriptionSkills {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  font-family: Playfair Display, Georgia, serif;
  letter-spacing: 5px;
  line-height: 1.8;
}

.pdivDescriptionSkills {
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #000000b3;
  line-height: 1.8;
}

.bigDivSkillsDegree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.DivSkillsDegree {
  padding: 0.2rem;
  border-radius: 0.4rem;
  background: #f2f3f7;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.h1SkillsNameSkills {
  font-size: 16px;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 400;
  color: #000;
}

.divSkillsContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.divskillsDegreeColor1 {
  position: absolute;
  right: 0px;
  top: -4px;
  background: #2c98f0 !important;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divskillsDegreeColor2 {
  position: absolute;
  right: 0px;
  top: -4px;
  background-color: #ec5453;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divskillsDegreeColor3 {
  position: absolute;
  right: 0px;
  top: -4px;
  background: #f9bf3f !important;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divskillsDegreeColor4 {
  position: absolute;
  right: 0px;
  top: -4px;
  background: #a84cb8 !important;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divskillsDegreeColor5 {
  position: absolute;
  right: 0px;
  top: -4px;
  background: #2fa499 !important;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.divskillsDegreeColor6 {
  position: absolute;
  right: 0px;
  top: -4px;
  background: #4054b2 !important;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.h6skillsDegreeColor1 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #2c98f0 !important;
  font-size: 0.9rem;
}

.h6skillsDegreeColor2 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #ec5453 !important;
  font-size: 0.9rem;
}

.h6skillsDegreeColor3 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #f9bf3f !important;
  font-size: 0.9rem;
}

.h6skillsDegreeColor4 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #a84cb8 !important;
  font-size: 0.9rem;
}

.h6skillsDegreeColor5 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #2fa499 !important;
  font-size: 0.9rem;
}

.h6skillsDegreeColor6 {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #4054b2 !important;
  font-size: 0.9rem;
}

.skillsDegreeColor1 {
  background: #2c98f0 !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}

.skillsDegreeColor2 {
  background: #ec5453 !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}

.skillsDegreeColor3 {
  background: #f9bf3f !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}

.skillsDegreeColor4 {
  background: #a84cb8 !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}

.skillsDegreeColor5 {
  background: #2fa499 !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}

.skillsDegreeColor6 {
  background: #4054b2 !important;
  padding: 0.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  position: relative;
}
