.bigDivSingleProduct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  gap: 2rem;
}

.secondDivSingleProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.h1secondDivSingleProduct {
  text-align: left;
}

.divImgSingleProduct {
  background-image: url("../../assets/landing-page/sec-5/Vector.png");
  background-repeat: no-repeat;
  background-position-x: 91px;
  background-position-y: -2px;
  background-size: cover;
  padding: 2rem 0rem;
}

@media screen and (max-width: 991.5px) {
  .secondDivSingleProduct {
    margin: auto;
  }
}
