.divcontent {
  height: 100vh;
  background-color: #ffffff;
}

.bigdiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 992.5px) {
  .divcontent {
    width: 100%;
  }
}
